.SpotifyLoginButton > button {
    background-color: #15883e;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 16px 14px 18px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 500px;
    min-width: 300px;
}