.SpotifyButton {
    background-color: #15883e;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 16px 14px 18px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 500px;
    width: 300px;
    text-decoration: none;
}

.SpotifyButton:hover {
    background-color: #1db954,
}